@{
    ViewBag.Title = "_socialLinks";
}

<footer style="height:12%;margin-bottom:4px;opacity:0.8" class="form-inline navbar-fixed-bottom">
    <a title="Total Visitors|Discovery Corner[Zaid Javed]"><img src="http://counter8.bestfreecounterstat.com/private/freecounterstat.php?c=3eb50f63639219b61a6abedc25f41457" border="0" title="Total Visitors|Discovery Corner[Zaid Javed]" alt="hit counter"></a>
    <div style="margin-bottom:7%">
        <p style="margin-bottom:-7%">Discovery Corner &trade; Terms and Conditions. Zaid Javed &copy; All right Reserved</p>
        
        <div style="margin-bottom:-2% ;margin-right:1%">
            <a style="margin-right:80% ;margin-left:84% ; margin-bottom:4%" href="https://twitter.com/zaidjaved46"><i class="fa fa-lg fa-twitter fa-5x hvr-bob hvr-bubble-float-top " style="color:#41a3ed"></i></a>

            <a style="margin-left:90%" href="https://www.facebook.com/zaidjaved46"><i class="fa fa-lg fa-facebook-f fa-5x hvr-buzz hvr-bubble-float-top" style="color:#0b3fcf"></i></a>


            <a style="margin-left:4%" href="https://plus.google.com/+ZaidJaved"><i class="fa fa-lg fa-google-plus fa-5x hvr-bubble-float-top hvr-buzz-out " style="color:#db382d"></i></a>

        </div>
    </div>

</footer>
