@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUped</title>
</head>
<body>
    <div>
        <h1>Signed up</h1>
        <form action="~/SignUp/helloDP">
            <input type="file" name="pic"/>
            <input type="submit" value="save">
        </form>
    </div>
</body>
</html>
