@{
    Layout = null;
}
@model Discovery_Corner.Models.User
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>boardOfDirectors</title>
</head>
<body>
    
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6" style="margin-left:20%;margin-right:20%">
            <div class="headerimgtop">
                <div id="headerImage">


                    <img alt="about board" title="about board" src="~/images/board.png">


                </div>
            </div>
            <p>Strong leadership and guidance is provided to Discovery Corner by its 5-member Board of Directors,
             representing a broad spectrum of Greater Discovery Corner's tourism industry.
             These board members volunteer their time and contribute extensive knowledge and experience to ensure that
             the organization is accountable and performance-driven. </p>
            <hr size="0">
            <p><b>Chair:</b><br>
            Zaid Javed
            <br>Owner/Operator<br>
            Zaid Javed </p>
            <p><b>Past Chair:</b><br></p><p>M. Javed<br>
            Regional VP &amp; General Manager<br>PC Hotels &amp; Resorts</p><p>&nbsp;</p>
            <hr size="0">
            <p><b>First Deputy Chair (Chair 2015-2016)</b><br>Arsman<br>General Manager<br>Furqan Haider</p><p><b><br>
            Directors:</b><br><br>Kamal Subhani<br>President<br>Zaid Javed </p><p>Zee J-46<br>President &amp; <br>President, CEO<br>Discovery Corner<br>Shalimar Link Road<br>Mughalpura Lahore<br><a href="~/ContectUs/ContectUs">Email@discoverycorner.com</a> </p><p><a href="bitf12m046@pucit.edu.pk"></a></p><p>Email->Zaid Javed&nbsp;</p><hr size="0"><p>&nbsp;</p><p>

           
            <div class="clear"></div>

        </div>
    </div>
</body>
</html>
