@{
    Layout = null;
}
@model Discovery_Corner.Models.User
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>boardOfDirectors</title>
</head>
<body>
    
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6" style="margin-left:20%;margin-right:20%">
            <div class="headerimgtop">
                <div id="headerImage">


                    <img alt="about board" title="about board" src="http://www.tourismvancouver.com/includes/content/images/headers/about_board2.jpg">


                </div>
            </div>
            <p>Strong leadership and guidance is provided to Discovery Corner by its 5-member Board of Directors, representing a broad spectrum of Greater Discovery Corner's tourism industry. These board members volunteer their time and contribute extensive knowledge and experience to ensure that the organization is accountable and performance-driven. </p><hr size="0"><p><b>Chair:</b><br>Zaid Javed<br>Owner/Operator<br>Zaid Javed </p><p><b>Past Chair:</b><br></p><p>M. Javed<br>Regional VP &amp; General Manager<br>PC Hotels &amp; Resorts</p><p>&nbsp;</p><hr size="0"><p><b>First Deputy Chair (Chair 2015-2016)</b><br>Arsman<br>General Manager<br>Furqan Haider</p><p><b><br>Directors:</b><br><br>Kamal Subhani<br>President<br>Zaid Javed </p><p>Zee J-46<br>President &amp; <br>President, CEO<br>Discovery Corner<br>Shalimar Link Road<br>Mughalpura Lahore<br>Email: <a href="zaidjaved28@gmail.com">Email@discoverycorner.com</a> </p><p><a href="bitf12m046@pucit.edu.pk"></a></p><p><a href="mailto:psmolen@tourismvancouver.com"></a></p><p>&nbsp;</p><hr size="0"><p>&nbsp;</p><p><a target="_blank" href="http://www.tourismvancouver.com/includes/content/images/media/docs/TVan-Frmr-GMs--Chairs-Assn-Names.pdf">&gt; View a list of past GMs, CEOs, Board members, and association names</a></p><p>&nbsp;</p><p>&nbsp;</p>

            <div id="social-share-buttons">
                <!-- Tweet This -->
                <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.c197f64a14a7434e6e58ca9722b54406.en.html#_=1434381883263&amp;count=horizontal&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fwww.tourismvancouver.com%2Fabout-us%2Fboard-directors%2F&amp;size=m&amp;text=About%20Us%20%7C%20Board%20of%20Directors&amp;url=http%3A%2F%2Fwww.tourismvancouver.com%2Fabout-us%2Fboard-directors%2F&amp;via=meetvancouver" class="twitter-share-button twitter-tweet-button twitter-share-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="position: static; visibility: visible; width: 78px; height: 20px;"></iframe>
                <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
                <div class="facebook-share-button">
                    <div class="fb-like fb_iframe_widget" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=100&amp;href=http%3A%2F%2Fwww.tourismvancouver.com%2Fabout-us%2Fboard-directors%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=450"><span style="vertical-align: bottom; width: 76px; height: 20px;"><iframe name="f2d45c4c" width="450px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="http://www.facebook.com/plugins/like.php?app_id=&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2F1ldYU13brY_.js%3Fversion%3D41%23cb%3Df316e888b8%26domain%3Dwww.tourismvancouver.com%26origin%3Dhttp%253A%252F%252Fwww.tourismvancouver.com%252Ff3eb7376b8%26relation%3Dparent.parent&amp;container_width=100&amp;href=http%3A%2F%2Fwww.tourismvancouver.com%2Fabout-us%2Fboard-directors%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=450" style="border: none; visibility: visible; width: 76px; height: 20px;" class=""></iframe></span></div>
                </div>
                <div class="share">
                    <div class="addthis_toolbox addthis_default_style">

                        <a href="http://www.addthis.com/bookmark.php?v=250&amp;username=TourismVancouver" class="addthis_button_compact at300m"><span class="at4-icon aticon-compact" style="background-color: rgb(252, 109, 76);"><span>More Sharing Services</span></span>Share</a>

                        <div class="atclear"></div>
                    </div>
                </div>
                <!-- Follow  -->
                <span style="display: inline-block">


                    <iframe allowtransparency="true" frameborder="0" scrolling="no" src="//platform.twitter.com/widgets/follow_button.html?screen_name=myVancouver" style="width:300px; height:20px;"></iframe>

                </span>
            </div>
            <div class="clear"></div>

        </div>
    </div>
</body>
</html>
