@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginForAdmin</title>
    
    <link href="~/Content/CSS/footer%20Styler/contest.css" rel="stylesheet" />
    <link href="~/Content/CSS/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/CSS/footer%20Styler/jquery.js"></script>
    <script src="~/Content/CSS/footer%20Styler/bootstrap.js"></script>
    <link href="~/Content/CSS/bootstrap-modified.css" rel="stylesheet" />
    <link href="~/Content/CSS/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/style.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Index">Discovery Corner</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="~/Home/Index">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="~/Home/Tour">Tour<span class="icon-bar"></span></a></li>                    
                    <li><a href="~/Views/Home/PreviousTour">Previous Tour<span class="icon-bar"></span></a></li> 
                    <li><a href="~/Views/Home/ContectUs">Contact me<span class="icon-bar"></span></a></li> 
                    <li><a href="~/Home/AboutUs">About me<span class="icon-bar"></span></a></li>
                    <li><a href="~/Views/Home/SignUp.cshtml">Sign up<span class="sr-only"></span></a></li>  
                </ul>               
                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="#">any link</a></li>-->
                    <!--drop down list-->
                    <!--
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                    -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-md-9">Name</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" required="" placeholder="enter full name" name="name" />
                </div>
            </div>

          


            <div class="form-group">
                <label class="control-label col-md-9">Password</label>
                <div class="col-md-3">
                    <input type="password" required="" class="form-control" placeholder="password" name="password">
                </div>
            </div>

          
            <div class="form-group">
                <label class="control-label col-md-9"></label>
                <div class="col-md-3">
                    <input type="submit" class="form-control" value="login">
                </div>
            </div>
        </form>
    </div>

    <section id="social" data-stellar-background-ratio="0.35" style="background-position: 0px 65.8328125px;">
        <div class="social-inner">
            <div class="container">
                <div class="section-head row">
                    <div class="heading">
                        <div class="text-center col-md-8 col-md-offset-2">
                            <!-- social title -->
                            <h1 class="title-heading fit-text" style="font-size: 30px;">be friend on social</h1>
                            <p class="tagline">It seems that people follow you when they read about you.</p>
                        </div>
                    </div> <!-- social title ends -->
                </div>
                <div class="section-body row">
                    <div class="social-links text-center">

                        <div class="col-xs-6 col-sm-2">
                            <div class="icon social-facebook">
                                <a href="javascript:void(0)">
                                    <i class=" fa fa-facebook-square"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-2">
                            <div class="icon social-twitter">
                                <a href="javascript:void(0)">
                                    <i class=" fa fa-twitter-square"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <div class="icon social-google-plus">
                                <a href="javascript:void(0)">
                                    <i class=" fa fa-google-plus-square"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-2">
                            <div class="icon social-linkedin">
                                <a href="javascript:void(0)">
                                    <i class=" fa fa-linkedin-square"></i>
                                </a>
                            </div>
                        </div>

                        <div class=" col-xs-6 col-sm-2">
                            <div class="icon social-pinterest">
                                <a href="#">
                                    <i class=" fa fa-pinterest-square"></i>
                                </a>
                            </div>
                        </div>


                        <div class="col-xs-6 col-sm-2">
                            <div class="icon social-github">
                                <a href="javascript:void(0)">
                                    <i class=" fa fa-github-square"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="section-footer row">
                    <div class="social-subscribe text-center">
                        <p class="tagline">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/Content/CSS/bootstrap.js"></script>



</body>
</html>


