@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>signedUpSuccessfully</title>
</head>
<body>
    <div>
        <p>Done (Y)</p>
    </div>
</body>
</html>
